.contact__section form .form-row{
  display: flex;
  flex-direction: column;
  gap: var(--size-5xl);
  margin: 32px 0;
}

.contact__contents {
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

form .form-row .input-data{
  width: 100%;
  height: 40px;
  position: relative;
}

form .form-row .textarea{
  height: 70px;
}

.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: var(--clr-primary);
}

.textarea textarea{
  resize: none;
  padding-top: 30px;
}

.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label{
  width: 100%;
  bottom: 70px;
  background: #fff;
}

.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--clr-primary);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}

button[type=submit]  {
  background-color: var(--clr-dark);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: var(--clr-light);
}

.submit-btn {
  transform: rotate(-20deg);
}

.contact__header {
  font-size: var(--size-3xl);
  line-height: 1.1;
}

.contact__left {
  margin-top: var(--size-3xl);
}

.textarea {
  margin-top: var(--size-6xl);
}

.contact__right {
  display: flex;
  flex-direction: column;
  gap: var(--size-5xl);
}

.social__links {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
}

.social__spaces,
.contact__details {
  display: flex;
  flex-direction: column;
  gap: var(--size-base);
}

.spaces__links {
  display: flex;
  gap: var(--size-sm);
  align-items: center;
}

.links__text {
  color: var(--clr-dark-gray);
}

.contact__details-header {
  font-size: var(--size-xl);
}

/* xss */
/* @media (min-width: 320px) {} */

/* xs */
@media (min-width: 475px) {
  .contact__header {
    font-size: var(--size-4xl);
    line-height: 1.2;
  }
  
  .textarea {
    margin-top: var(--size-6xl);
  }

  button[type=submit]  {
    height: 120px;
    width: 120px;
  }  
}

/* sm */
@media (min-width: 640px) {
  .contact__section form .form-row{
    flex-direction: row;
    margin: 40px 0;
  }

  .contact__right {
    flex-direction: row;
    gap: var(--size-10xl);
  }
}

/* md */
@media (min-width: 768px) {
  .contact__header {
    font-size: var(--size-5xl);
  }

  .contact__right {
    flex-direction: column;
    gap: var(--size-4xl);
    margin-top: var(--size-4xl);
  }

  .contact__contents {
    display: flex;
    flex-direction: row;
    gap: var(--size-5xl);
  }  
}  

/* lg */
@media (min-width: 1024px) {
  .contact__header {
    font-size: var(--size-6xl);
  }

  .contact__right {
    gap: var(--size-6xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .links__text {
    font-size: var(--size-lg);
  }

  .links__img {
    width: 30px;
    height: 30px;
  }
  
  .contact__details-header {
    font-size: var(--size-2xl);
  }

  button[type=submit]  {
    height: 140px;
    width: 140px;
    font-size: var(--size-lg);
  }  
}

/* 2xl */
/* @media (min-width: 1366px) {} */
