.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--clr-light);
  padding: 1rem 0 1rem 0;
  z-index: 3;
}

.logo__img {
  width: 80px;
}

.nav__links {
  display: none;
}

.contact__btn {
  width: fit-content;
  padding: 0.8rem 2rem 0.8rem 2rem;
  background-color: var(--clr-dark);
  border-radius: 60px;
  color: var(--clr-light);
}

.contact__btn a {
  color: var(--clr-light);
}

/* xss */
/* @media (min-width: 320px) {} */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .logo__img {
    width: 90px;
  }

  .menu__bar {
    width: 30px;
  }
}

/* md */
@media (min-width: 768px) {
  .header__container {
    padding: 1rem 0 1rem 0;
  }

  .nav__links {
    display: flex;
    gap: var(--size-3xl);
  }

  .menu__logo-container {
    display: none;
  }

  .header {
    display: flex;
    gap: var(--size-2xl);
    align-items: center;
    justify-content: center;
  }
}  

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
