/* xss */
/* @media (min-width: 320px) {} */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {}   */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.hero__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.contact__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section {
  margin-top: 5rem;
}

a, li {
  cursor: pointer;
}

li, a, p, label, button {
  font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

.header-font {
  font-family: 'Poppins', sans-serif;
}

.body-font {
  font-family: 'Hind', sans-serif;
}

.heading__text {
  color: var(--clr-primary);
  font-size: var(--size-3xl);
}

/* underline hover effect */
.link__hover {
  display: inline-block;
  position: relative;
}

.link__hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--clr-primary);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.link__hover:hover::after{
  transform: scaleX(1);
  transition: bottom left;
}


/* xs */
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }

  .contact__wrapper {
    max-width: 320px;
  }
}

@media (min-width: 475px) {
  .heading__text {
    color: var(--clr-primary);
    font-size: var(--size-5xl);
  }

  .container {
    max-width: 475px;
  }

  .contact__wrapper {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .contact__wrapper {
    max-width: 640px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero__wrapper {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .contact__wrapper {
    max-width: 768px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* lg */
@media (min-width: 1024px) {

  .heading__text {
    color: var(--clr-primary);
    font-size: var(--size-6xl);
  }

  .container {
    max-width: 1024px;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .contact__wrapper {
    max-width: 1024px;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  .contact__wrapper {
    max-width: 1280px;
    padding-left: 13rem;
    padding-right: 13rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .contact__wrapper {
    max-width: 1536px;
  }
}