/* xss */
/* @media (min-width: 320px) {} */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {}   */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */


.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.hero__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.contact__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section {
  margin-top: 5rem;
}

a, li {
  cursor: pointer;
}

li, a, p, label, button {
  font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

.header-font {
  font-family: 'Poppins', sans-serif;
}

.body-font {
  font-family: 'Hind', sans-serif;
}

.heading__text {
  color: var(--clr-primary);
  font-size: var(--size-3xl);
}

/* underline hover effect */
.link__hover {
  display: inline-block;
  position: relative;
}

.link__hover::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--clr-primary);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.link__hover:hover::after{
  transform: scaleX(1);
  transition: bottom left;
}

/* bounce top animation */

.bounceTop {
  opacity: 0;
  animation: bounceTop 1.5s ease 0s 1 normal forwards;
}

@keyframes bounceTop {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

/* slide up animation  */

.slideUp {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 2.5s forwards;
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* fade in backward animation  */

.fadeInTop {
  opacity: 0;
  animation: fadeInTop 1s ease 0s 1 normal forwards;
}

@keyframes fadeInTop {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.cursor {
    position: absolute;
    background: var(--clr-dark);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(0.8);
}

.cursor::before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0.2rem;
    right: 0.194rem;
    background-image: url("../public/ArrowUpRight.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    opacity: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor.active {
    opacity: 1;
    transform: scale(12);
}

.cursor.active::before {
    opacity: 1;
}

.cursor-follower {
    position: absolute;
    background: rgba(103, 149, 161, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
}

.cursor-follower.active {
    opacity: 0.3;
    transform: scale(0);
}

.portfolio-thumb {
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.3, 1);
}

.portfolio-thumb img {
    transition: all 1.5s cubic-bezier(0.25, 1, 0.3, 1);
}

.portfolio-item:hover .portfolio-thumb {
    border-radius: 20px;
}

.portfolio-item:hover .portfolio-thumb img {
    opacity: 1;
    transform: scale(1.1);
}

/* xs */
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }

  .contact__wrapper {
    max-width: 320px;
  }
}

@media (min-width: 475px) {
  .heading__text {
    color: var(--clr-primary);
    font-size: var(--size-5xl);
  }

  .container {
    max-width: 475px;
  }

  .contact__wrapper {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .contact__wrapper {
    max-width: 640px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .hero__wrapper {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .contact__wrapper {
    max-width: 768px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

/* lg */
@media (min-width: 1024px) {

  .heading__text {
    color: var(--clr-primary);
    font-size: var(--size-6xl);
  }

  .container {
    max-width: 1024px;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .contact__wrapper {
    max-width: 1024px;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }

  .contact__wrapper {
    max-width: 1280px;
    padding-left: 13rem;
    padding-right: 13rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  .contact__wrapper {
    max-width: 1536px;
  }
}